<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={{ url_for('static', filename='CSS/layout.css')
    }}>
        <link rel="stylesheet" href={{ url_for('static', filename='CSS/estiloformulario.css') }}>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div id="empresa">
        <p>EMPRESA X</p>
      </div>
      {% block encabezado %} {% endblock %}
    </header>
    {% block cuerpo %} {% endblock %}
    <footer></footer>
  </body>
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/formulario.js') }}"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  {% endblock %}
</html>
