{% extends 'layout1.html' %}
{% block perfil %}
<div id="usuario">
    <p>{{user}}</p>
</div>
{% endblock %}
{% block cuerpo %}
<section>
<br> <br>
<div>
<form action="/atras_ad" method="GET">
    <input type="submit" name="" value="ATRÁS" id="atras_listarusuario"/>
</form>
</div>
<br><br>
    <div>
        <form action="/registrar_usuarios" method="GET" onSubmit="return enviar_usuario_nuevo()">
            <input type="submit" name="usuario_nuevo" value="USUARIO NUEVO" id="un"/>
        </form>
    </div>
    <br><br>
    <div>
        <form action="/editar_admi" method="GET">
        <input type="submit" name="ver_informacion" value="EDITAR INFORMACIÓN DE EMPLEADOS" id="un"/>
        </form>
    </div>
    <br> <br>
    <div>
        <form action="/eliminar" method="GET">
        <input type="submit" name="ver_informacion" value="ELIMINAR USUARIO" id="un1"/>
        </form>
    </div>
</section>
{% endblock %}